@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro&display=swap");

body {
  margin: 0;
}

p {
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #bdbdbd;
  font-family: "Fira Sans", sans-serif;
}

blockquote {
  font-family: "Fira Sans", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #209cee;
}

ol {
  font-family: "Fira Sans", sans-serif;
}

.button {
  font-family: "Fira Mono", monospace;
}

.tag {
  font-family: "Fira Mono", monospace;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0px 32px;
  }
}

.container {
  max-width: 960px;
}

.container::before {
  content: "";
  display: block;
  height: 3rem;
}

.container::after {
  content: "";
  display: block;
  height: 3rem;
}

.blog-post {
  font-size: 1rem;
}

// .content .tag,
.content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

@media only screen and (min-width: 769px) {
  .navbar-burger {
    display: none;
  }
}

@media only screen and (min-width: 770px) {
  #mobile-menu {
    display: none;
  }
}
