// @import url("https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700&display=swap");

html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "Source Sans Pro", sans-serif;
  font-family: "Fira Sans", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #bdbdbd;
  font-family: "Fira Sans", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #209cee;
}

blockquote {
  font-family: "Fira Sans", sans-serif;
}

ol {
  font-family: "Fira Sans", sans-serif;
}

.button {
  font-family: "Fira Code", monospace;
}

.tag {
  font-family: "Fira Code", monospace;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0px 32px;
  }
}

.container {
  max-width: 960px;
}

.container::before {
  content: "";
  display: block;
  height: 3rem;
}

.container::after {
  content: "";
  display: block;
  height: 3rem;
}

.hero-title {
  font-family: "Fira Mono", sans-serif;
  // font-weight: 500;s
}

.blog-post {
  font-size: 1rem;
}

// .content .tag,
.content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

@media only screen and (min-width: 769px) {
  .navbar-burger {
    display: none;
  }
}

@media only screen and (min-width: 770px) {
  #mobile-menu {
    display: none;
  }
}
