@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700&display=swap");

html {
  font-size: 16px;
}

body {
  margin: 0;
}

.content h2:not(:first-child) {
  margin-top: 2em;
}

.content h3:not(:first-child) {
  margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: #209cee;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #bdbdbd;
}

a[class="sidebar-link"] {
  color: #bdbdbd;
  font-weight: 400;
}

a[class="sidebar-link"]:hover {
  color: #209cee;
}

blockquote {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 2em 0;
}

.content blockquote:not(:last-child) {
  margin: 2em 0;
}

ol {
  font-family: "Fira Sans", sans-serif;
}

ul {
  font-family: "Fira Sans", sans-serif;
}

img {
  border-radius: 16px;
}

#pale-img {
  border-radius: 16px;
  border: 3px solid #bdbdbd;
  // border: 3px solid #363636;
}

pre[class*="language-"] {
  margin: 2em 0 2em 0;
}

li::marker {
  font-weight: 600;
}

.button {
  font-family: "Fira Code", monospace;
}

.tag {
  font-family: "Fira Code", monospace;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0px 32px;
  }
}

.container {
  max-width: 960px;
}

.container::before {
  content: "";
  display: block;
  height: 3rem;
}

.container::after {
  content: "";
  display: block;
  height: 3rem;
}

.hero-title {
  font-family: "Fira Mono", sans-serif;
  // font-weight: 500;s
}

.blog-post {
  font-size: 18px;
  line-height: 30px;
}

// .content .tag,
.content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

@media only screen and (min-width: 769px) {
  .navbar-burger {
    display: none;
  }
}

@media only screen and (min-width: 770px) {
  #mobile-menu {
    display: none;
  }
}

// main colour for address is     #48c774
// main colour for transaction is #ffaa00
// main colour for block is       #1d71f7
// background is 90% tint
// hover is 80% tint

.bitcoin-address {
  color: #48c774; 
  border: 1px solid #48c774;
  font-family: 'Fira Code', monospace; 
  font-size: 13px;
  white-space: nowrap;
  border-radius: 6px;
  background-color: #edf9f1; // 90% tint
}

.bitcoin-address:hover {
  text-decoration: none;
  color: #48c774;
  background-color: #daf4e3; // 80% tint
}

.bitcoin-transaction {
  color: #ffaa00;
  border: 1px solid #ffaa00; 
  font-family: 'Fira Code', monospace; 
  font-size: 13px; 
  white-space: nowrap;
  border-radius: 6px;
  background-color: #fff7e6; // 90% tint
}

.bitcoin-transaction:hover {
  text-decoration: none;
  color: #ffaa00;
  background-color: #ffeecc; // 80% tint
}

.bitcoin-block {
  color: #1d71f7;
  border: 1px solid #1d71f7; 
  font-family: 'Fira Code', monospace; 
  font-size: 13px; 
  white-space: nowrap;
  border-radius: 6px;
  background-color: #e8f1fe; // 90% tint
}

.bitcoin-block:hover {
  text-decoration: none;
  color: #1d71f7;
  background-color: #d2e3fd; // 80% tint
}

.example {
  font-size: 16px;
  padding: 1rem;
  border-left: 5px solid #fae042;
  line-height: 26px;
}

// collapsible sections

input[type='checkbox'] {
  display: none;
}

// button style
.lbl-toggle {
  display: block;

  font-family: "Fira Code", monospace;
  text-align: center;

  padding: 1rem;

  color: #a77b0e;
  background: #fae042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:not(.first-collapsible) {
  margin-top: 2rem;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

// collapsible 0
.collapsible-content-0 .content-inner-0 {
  border-right: 3px solid #fae042;
  border-bottom: 3px solid #fae042;
  border-left: 3px solid #fae042;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content-0 {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 1.25s ease-in-out;
}

.toggle-0:checked + .lbl-toggle + .collapsible-content-0 {
  max-height: 200vh;
}

.toggle-0:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle-0:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

// collapsible 1
.collapsible-content-1 .content-inner-1 {
  border-right: 3px solid #fae042;
  border-bottom: 3px solid #fae042;
  border-left: 3px solid #fae042;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content-1 {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 1.25s ease-in-out;
}

.toggle-1:checked + .lbl-toggle + .collapsible-content-1 {
  max-height: 100vh;
}

.toggle-1:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle-1:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

// collapsible 2
.collapsible-content-2 .content-inner-2 {
  border-right: 3px solid #fae042;
  border-bottom: 3px solid #fae042;
  border-left: 3px solid #fae042;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content-2 {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 1.25s ease-in-out;
}

.toggle-2:checked + .lbl-toggle + .collapsible-content-2 {
  max-height: 200vh;
}

.toggle-2:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle-2:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

// collapsible 3
.collapsible-content-3 .content-inner-3 {
  border-right: 3px solid #fae042;
  border-bottom: 3px solid #fae042;
  border-left: 3px solid #fae042;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content-3 {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 1.25s ease-in-out;
}

.toggle-3:checked + .lbl-toggle + .collapsible-content-3 {
  max-height: 200vh;
}

.toggle-3:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle-3:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
